html{
    height: 100vh;
    margin: 0;
    background-color:white;
    width:100vw;
    overflow-x: hidden;
    overflow-y:hidden;
}


body{
    max-width: 100vw;
    font-family: 'Lato', sans-serif;
    height: 100%;
    margin: 0;
}

main{
    width:100%;
    height:100%;
    margin: 0;
}

nav{
    display:flex;
    align-items:flex-start;
    flex-direction:column;
    border-left:1px solid #212121;
}

nav>#menu{
    min-width:20%;
}

.container{
    width:100%;
    height:100%;
    margin: 0;
}
#map{
    position: relative;
    width:100%;
    border-right: 3px solid lightslategray;
    height: 100%;
    z-index:1;
    margin: 0;
}

#graphs{
    position: absolute;
    width:480px;
    height:100vh;
    right:0;
    top:0;
    background-color:rgba(255,255,255,0.8);
    z-index:3;
    display:flex;
    flex-direction: column;

}

#tap{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
}

.button{
    width:33%;
    cursor:pointer;
}

#Charts{
    text-align: center;
    border-bottom : 1px dashed #9E9E9E;
    border-right: 1px solid #212121;


}


#Action{
    text-align: center;
    border-bottom : 1px solid #212121;
    color: #9E9E9E;
}

#Action>h4{
    font-weight:400;
}

#Action:hover >h4{
    font-weight:700;
    color: #212121;
}

#Resources{
    text-align: center;
    border-bottom : 1px solid #212121;
    color: #9E9E9E;
}

#Resources>h4{
    font-weight:400;
}

#Resources:hover >h4{
    font-weight:700;
    color: #212121;
}

#chart{
    text-align: center;
}


#header{
    color: #212121;
    border-bottom : 1px dashed #9E9E9E;
    width : 100%;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding-right:10px;
}

#dropdown_1{
    width:40%;
}

#text1{
    padding-left:10px;
    display:flex;
    cursor: pointer;
    vertical-align:bottom;
    justify-content: space-between;
}

#region{
    margin-right: 7px;
}

/* this part is for design dropdown box*/
#text1_box{
    z-index:3;
    top:110px;
    position:absolute;
    padding-left:10px;
    background-color:rgba(255,255,255,0.95);
    color: dimgray;
    display:none;
    cursor: pointer;
    height:300px;
    overflow-y:scroll;
}

#text1_box::-webkit-scrollbar-track{
    background-color: #FFF;
}

#text1_box::-webkit-scrollbar
{
    width : 15px;
    background-color: slategray;
}

#text1_box::-webkit-scrollbar-thumb
{

    border-top : 10px solid white;
    border-bottom: 10px solid white;
    border-right : 5px solid white;
    background-color: slategray;
}

#text1_box>p:hover{
    color:#212121;
    font-weight:bold;
}


#text1_box>p:hover{

}

#dropdown_2{
    width:55%;
    margin-right:20px;
}

#text2{
    width:100%;
    display:flex;
    cursor: pointer;
    vertical-align:bottom;
    justify-content: space-between;
}


#text2_box{
    z-index:3;
    top:110px;
    position:absolute;
    background-color:rgba(255,255,255,0.95);
    color: dimgray;
    display:none;
    cursor: pointer;
}


#attribute{
    margin-right: 7px;
}

#information{
    display:flex;
    flex-direction: column;
    height:100%;
    border-left: 1px solid #212121;

}

#graph{
    padding-left:10px;
    padding-right:10px;

}
