html{
    height: 100vh;
    margin: 0;
    background-color:white;
    width:100vw;
    overflow-x: hidden;
    overflow-y:hidden;
}


body{
    max-width: 100vw;
    font-family: 'Lato', sans-serif;
    height: 100%;
    margin: 0;
}

main{
    width:100%;
    height:100%;
    margin: 0;
}

nav{
    display:flex;
    align-items:flex-start;
    flex-direction:column;

}

nav>#menu{
    min-width:20%;
}

.container{
    width:100%;
    height:100%;
    margin: 0;
    display:flex;
    flex-direction:row;
}

/* This part is for the drawing(left) part*/

#drawing{
    width:calc(100% - 480px);
    height: 100%;
    margin: 0;
    display:flex;
}

#map{
    width:100%;
    z-index:0;

}

#dropdown_att{
    width:230px;
    top:10px;
    right:470px;
    position: absolute;
    margin-right:20px;
    z-index:2;
    background-color:rgba(255,255,255,0.8);
}

#attribute{
    margin-right: 7px;
}


#text_att{
    width:100%;
    display:flex;
    cursor: pointer;
    vertical-align:bottom;
    justify-content: space-between;
}

#text_att>h4{
    margin: 10px 0 10px 10px ;
}

#text_att_box{
    width:100%;
    z-index:3;
    top:39px;
    position:absolute;
    background-color:rgba(255,255,255,0.95);
    color: dimgray;
    display:none;
    cursor: pointer;
}

#text_att_box>p{
    margin-left:10px;
}

#text_att_box>p:hover{
    font-weight:700;
    color:#212121;
}

#legend{
    position: absolute;
    width:230px;
    height:200px;
    top:45px;
    margin-right:20px;
    z-index:1;
    background-color:rgba(255,255,255,0.9);
}

/* This part is for the board(right) part*/

#graphs{
    width:480px;
    height:100vh;
    background-color:rgba(255,255,255,0.8);
    display:flex;
    flex-direction: column;

}

/* Part2-1 Tap*/

#tap{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
}

.button{
    width:33%;
    cursor:pointer;
}

#chart{
    text-align: center;
    border-bottom : 1px dashed #9E9E9E;
    border-left:1px solid #212121;
    border-right: 1px solid #212121;
}

#chart:hover>h4{
    font-weight:700;
}

#action{
    text-align: center;
    border-bottom : 1px solid #212121;
    color: #9E9E9E;
}

#action>h4{
    font-weight:400;
}

#action:hover >h4{
    font-weight:700;
    color: #212121;
}

#resource{
    text-align: center;
    border-bottom : 1px solid #212121;
    color: #9E9E9E;
}

#resource>h4{
    font-weight:400;
}

#resource:hover >h4{
    font-weight:700;
    color: #212121;
}


/* Part2-2 dropdown menu*/

#header{
    color: #212121;
    border-bottom : 1px dashed #9E9E9E;
    width : 100%;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding-right:10px;
}
#dropdown_tract{
    width:250px;
    margin-right:50px;
}

#text_tract{
    border: 0px;
    padding-left:10px;
    display:flex;
    cursor: pointer;
    vertical-align:bottom;
    justify-content: space-between;
}

#region{
    margin-right: 7px;
}

/* this part is for design dropdown box*/
#text_tract_box{
    z-index:3;
    top:110px;
    position:absolute;
    padding-left:10px;
    background-color:rgba(255,255,255,0.95);
    color: dimgray;
    display:none;
    cursor: pointer;
    width:180px;
    height:280px;
    overflow-y:scroll;
}

#text_tract_box::-webkit-scrollbar-track{
    background-color: #FFF;
}

#text_tract_box::-webkit-scrollbar
{
    width : 15px;
    background-color: slategray;
}

#text_tract_box::-webkit-scrollbar-thumb
{

    border-top : 10px solid white;
    border-bottom: 10px solid white;
    border-right : 5px solid white;
    background-color: slategray;
}

#text_tract_box>p:hover{
    color:#212121;
    font-weight:bold;
}

/* This is for #chart_info div*/
#chart_info{
    display:flex;
    flex-direction: column;
    height:100%;
    border-left: 1px solid #212121;

}
#graph{
    display:flex;
    flex-direction:column;
    border-bottom:  1px dashed #9E9E9E;
}

#first_row{
    width:100%;
    display:flex;
    flex-direction: row;
}

#Overall{
    width:220px;
    height:200px;
}

#flood{
    width:220px;
    height:200px;
}

#flood>h4{
    padding-left:10px;
}

#second_row{
    width:100%;
    display:flex;
    flex-direction: row;
}

#IAR{
    width:220px;
    height:200px;
}

#GIAR{
    width:220px;
    height:200px;
}
/* This is for #action_info div*/
#action_info{
    display:none;
    flex-direction: column;
    height:100%;
    border-left: 1px solid #212121;

}

/* This is for #resource_info div*/
#resource_info{
    display:none;
    flex-direction: column;
    height:100%;
    border-left: 1px solid #212121;

}

#graph{
    padding-left:10px;
    padding-right:10px;

}
