html{
    height: 100vh;
    margin: 0;
    background-color:black;
    width:100vw;
    overflow-x: hidden;
    overflow-y:hidden;
}


body{
    max-width: 100vw;
    height: 100%;
    margin: 0;
}

main{
    width:100%;
    height:100%;
    margin: 0;
}


.container{
    width:100%;
    height:100%;
    margin: 0;
}


#map{
    position: relative;
    width:100%;
    border-right: 3px solid lightslategray;
    height: 100%;
    z-index:1;
    margin: 0;
}

#graphs{
    position: absolute;
    width:20vw;
    height:100vh;
    right:0;
    top:0;
    background-color:rgba(30,30,30,0.8);
    z-index:3;
    display:flex;
    flex-direction: column;
}

#graph1{
    height:30%;
}

#graph2{
    height:25%;
}
#graph3{
    height:25%;
}
#test{
    width:100%;
}